<!-- views/partials/header.ejs -->

<nav class="navbar bg-dark">
  <a class="navbar-brand mb-0 text-white" style="margin-left:10px" href="../home">
    <img class="d-inline-block" width="36" height="36" viewbox="0 0 612 612" src="logo.png" alt="logo"> 
    Andrew's Azure
  </a>
  <p class="my-sm-0 text-white" id="username">
    <%= username %>
  </p>
</nav>

<!-- <header class="navbar bg-dark navbar-expand flex-column flex-md-row">
  <img class="d-block" width="36" height="36" viewBox="0 0 612 612" src="logo.png" alt="logo"> 
  <span class="navbar-brand mb-0 h1 text-white" style="margin-left:10px">Andrew's Azure</span>
</header> -->