<!-- views/pages/manage.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../partials/head') %>
</head>

<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <div class="container-fluid content mb-3">
        <h3 style="text-align:center">
            <b>Device List</b>
        </h3>
        <button type="button" class="btn btn-outline-primary m-2" data-toggle="modal" data-target="#addDeviceModal">add Device</button>
        <button type="button" class="btn btn-outline-primary m-2" data-toggle="modal" data-target="#addViewModal">add view</button>
        <button type="button" class="btn btn-outline-primary m-2" id ="deleBtn">delete view</button>
        <div class="d-flex justify-content-center">
            <label id="deleResult"></label>
        </div>
        <div class="container">
            <div class="row">
              <div class="col-12">
                <table class="table table-striped ">
                    <thead>
                        <tr>
                            <th scope="col">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="select-all form-check-input" id="selectall">
                                </div>
                            </th>
                            <th scope="col">Name</th>
                            <th scope="col">Device Id</th>
                            <th scope="col">Status</th>
                            <th scope="col">ThingsPro ver.</th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade show" id="addViewModal" tabindex="-1" role="dialog" aria-labelledby="addViewModalTitle" aria-modal="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="addViewModalTitle">Add view</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="checkReload()">
                    <span aria-hidden="true">×</span>
                </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="idInput">Device Id</label>
                        <input type="deviceId" class="form-control" id="idInput">
                    </div>
                    <div class="d-flex justify-content-center">
                        <label id="addViewResult"></label>
                    </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="checkReload()">Close</button>
                <button type="button" class="btn btn-primary" id="addViewBtn">Add</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade show" id="addDeviceModal" tabindex="-1" role="dialog" aria-labelledby="addDeviceModalTitle" aria-modal="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="addDeviceModalTitle">Add Device</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="checkReload()">
                    <span aria-hidden="true">×</span>
                </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="idInput">Device Id</label>
                        <input type="deviceId" class="form-control" id="idInput2">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="select-all form-check-input" id="isedge">
                            Activate IoT Edge
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <textarea readonly="" class="form-control mr-2 ml-2" id="addDeviceResult" rows="2" style="margin-top: 0px; margin-bottom: 0px; max-height: 150px; min-height: 40px;" placeholder="result:{}"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="checkReload()">Close</button>
                <button type="button" class="btn btn-primary" id="addDeviceBtn">Add</button>
                </div>
            </div>
        </div>
    </div>
    <script src="helper.js"></script>
    <script>
		const buttonSpinner = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>';
        var devices = <%- JSON.stringify(devices) %>;
        var twins = <%- JSON.stringify(twins) %>;
        var added = false;

        function checkReload() {
            if (added) {
                location.reload();
            }
        }

        function drawTable() {
            $("#tbody").html("");
            Object.keys(devices).forEach(element => {
                $("#tbody").append('<tr><td><div class="custom-control custom-checkbox">'+
                    '<input type="checkbox" class="select-item form-check-input" id="'+
                    element+'"></div></td><td>'+displayName(twins[element], element)+
                    '</td><td>'+element+'</td><td>'+devices[element]["state"]+'</td><td>'+
                    displayTPEVer(twins[element])+'</td></tr>');
            });
        }      
        drawTable();

        //column checkbox select all or cancel
        $("input.select-all").click(function () {
            var checked = this.checked;
            $("input.select-item").each(function (index,item) {
                item.checked = checked;
            });
        });
        //check selected items
        $("input.select-item").click(function () {
            var checked = this.checked;
            console.log(checked);
            checkSelected();
        });

        $("#addDeviceBtn").click(function () {
            $("#addDeviceBtn").html(buttonSpinner);
            $.ajax({
                type: 'POST',
				url: "/device/"+$("#idInput2").val().trim()+"/"+$("#isedge")[0].checked,
				success: function (response, textStatus, request) {
                    $("#addDeviceResult").text(response);
                    if (response["connectionString"]) {
                        added = true;
                    }
                    $("#addDeviceBtn").html("Add device");
				}
			}).fail(function (jqXHR, textStatus, errorThrown) { 
                $("#addDeviceResult").text(jqXHR.status+" "+jqXHR.statusText);
                $("#addDeviceBtn").html("Add device");
			});
        });

        $("#addViewBtn").click(function () {
            $("#addViewBtn").html(buttonSpinner);
            $.ajax({
                type: 'POST',
				url: "/view/"+$("#idInput").val().trim(),
				success: function (response, textStatus, request) {
                    $("#addViewResult").text(response);
                    if (response == "view added successfully") {
                        added = true;
                    }
                    $("#addViewBtn").html("Add view");
				}
			}).fail(function (jqXHR, textStatus, errorThrown) { 
                $("#addViewResult").text(jqXHR.status+" "+jqXHR.statusText);
                $("#addViewBtn").html("Add view");
			});
        });

        $("#deleBtn").click(function () {
            $("input.select-item").each(function (index,item) {
                if (item.checked){
                    $.ajax({
                        type: 'DELETE',
                        url: "/view/"+item.id,
                        success: function (response, textStatus, request) {
                            delete devices[item.id];
                            $("#deleResult").text(response);
                            drawTable();
                        }
                    }).fail(function (jqXHR, textStatus, errorThrown) { 
                        $("#deleResult").text(jqXHR.status+" "+jqXHR.statusText);
                    });
                }
            });
        });
        //check is all selected
        function checkSelected() {
            var all = $("input.select-all")[0];
            var total = $("input.select-item").length;
            var len = $("input.select-item:checked:checked").length;
            console.log("total:"+total);
            console.log("len:"+len);
            all.checked = len===total;
        }

    </script>
</body>