<!-- views/pages/manage.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../partials/head') %>
</head>

<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <div class="container-fluid content mb-3">
        <h3 style="text-align:center">
            <b>Device List</b>
        </h3>
        <button type="button" class="btn btn-outline-primary m-2" data-toggle="modal" data-target="#addModal">add view</button>
        <button type="button" class="btn btn-outline-primary m-2">delete view</button>
        <div class="container">
            <div class="row">
              <div class="col-12">
                <table class="table table-striped ">
                    <thead>
                        <tr>
                            <th scope="col">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="select-all form-check-input" id="selectall">
                                </div>
                            </th>
                            <th scope="col">Name</th>
                            <th scope="col">Device Id</th>
                            <th scope="col">Status</th>
                            <th scope="col">ThingsPro ver.</th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade show" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalTitle" aria-modal="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="addModalTitle">Add view</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="idInput">Device Id</label>
                        <input type="deviceId" class="form-control" id="idInput">
                        <label id="result"></label>
                    </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="addBtn">Add</button>
                </div>
            </div>
        </div>
    </div>
    <script src="helper.js"></script>
    <script>
		const buttonSpinner = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>';
        var devices = <%- JSON.stringify(devices) %>;
        var twins = <%- JSON.stringify(twins) %>;

        Object.keys(devices).forEach(element => {
            $("#tbody").append('<tr><td><div class="custom-control custom-checkbox">'+
                '<input type="checkbox" class="select-item form-check-input" id="c'+
                element+'"></div></td><td>'+displayName(twins[element], element)+
                '</td><td>'+element+'</td><td>'+devices[element]["state"]+'</td><td>'+
                displayTPEVer(twins[element])+'</td></tr>');
        });

        //column checkbox select all or cancel
        $("input.select-all").click(function () {
            var checked = this.checked;
            $("input.select-item").each(function (index,item) {
                item.checked = checked;
            });
        });
        //check selected items
        $("input.select-item").click(function () {
            var checked = this.checked;
            console.log(checked);
            checkSelected();
        });

        $("#addBtn").click(function () {
            $("#addBtn").html(buttonSpinner);
            $.ajax({
                type: 'POST',
				url: "/addView/"+$("#idInput").val(),
				success: function (response, textStatus, request) {
                    $("#result").text(response);
                    $("#addBtn").html("Add view");
				}
			}).fail(function (jqXHR, textStatus, errorThrown) { 
                $("#result").text(jqXHR.status+" "+jqXHR.statusText);
                $("#addBtn").html("Add view");
			});
        });

        //check is all selected
        function checkSelected() {
            var all = $("input.select-all")[0];
            var total = $("input.select-item").length;
            var len = $("input.select-item:checked:checked").length;
            console.log("total:"+total);
            console.log("len:"+len);
            all.checked = len===total;
        }

    </script>
</body>

<!-- 

<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button>

<div class="modal fade bd-example-modal-lg show" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: block;" aria-modal="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="modalTitle">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            </div>
            <div class="modal-body overflow-auto">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <canvas id="chart" class="p-1" style="max-height: 300px;"></canvas>     
                            </div>
                            <div class="row overflow-auto">Telemetry
                                <textarea readonly="" class="form-control" id="txtarea" rows="5" style="margin-top: 0px; margin-bottom: 0px; max-height: 250px;" placeholder="result: {}"></textarea>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="row overflow-auto" style="height: 300px;">
                                twin
                            </div>
                            <hr>
                            <div class="row overflow-auto" style="height: 250px;">
                                <div class="form-group col">
                                    <label for="input">Method Name</label>
                                    <input type="email" class="form-control" id="input" placeholder="Reboot">
                                    <label for="textarea">Payload</label>
                                    <textarea class="form-control" id="textarea" rows="5" style="max-height: 200px;"></textarea>
                                    <button type="button" class="btn btn-primary mt-3">submit</button>
                                    <button type="button" class="btn btn-primary mt-3 ml-3">clear</button>
                                </div>
                                <textarea readonly="" class="form-control mr-2 ml-2" id="txtarea" rows="2" style="margin-top: 0px; margin-bottom: 0px; max-height: 150px;" placeholder="result: {}"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
  </div>

$("#modalTitle").dbclick(function() {
    $("#modalTitle").prop('contenteditable', true);
});
$("#modalTitle").blur(function() {
    $("#modalTitle").prop('contenteditable', false);
    updateTwin(id);
}); -->